---
- name: redhat | Adding EPEL Repo
  ansible.builtin.package:
    name: epel-release
    state: present
  become: true
  register: result
  until: result is successful
  when: ansible_distribution != "Fedora"

- name: redhat | Installing Pre-Reqs
  ansible.builtin.package:
    name: "{{ kea_dhcp_pre_reqs }}"
    state: present
  become: true
  register: result
  until: result is successful

- name: redhat | Adding Kea DHCP Repo Key
  ansible.builtin.rpm_key:
    key: "{{ kea_dhcp_repo_key }}"
    state: present
  become: true

- name: redhat | Kea DHCP 1.7
  when:
    - kea_dhcp_version is version('1.7', '>=')
    - kea_dhcp_version is version('1.8', '<')
  block:
    - name: redhat | Adding Kea DHCP Repo
      ansible.builtin.yum_repository:
        name: isc-kea-1-7
        description: isc-kea-1-7
        baseurl: "{{ kea_dhcp_repos }}/kea-1-7/rpm/el/{{ hostvars[inventory_hostname].ansible_distribution_major_version }}/$basearch"
        gpgcheck: true
        enabled: true
        gpgkey: "{{ kea_dhcp_repo_key }}"
        state: present
      become: true

    - name: redhat | Adding Kea DHCP Repo (noarch)
      ansible.builtin.yum_repository:
        name: isc-kea-1-7-noarch
        description: isc-kea-1-7-noarch
        baseurl: "{{ kea_dhcp_repos }}/kea-1-7/rpm/el/{{ hostvars[inventory_hostname].ansible_distribution_major_version }}/noarch"
        gpgcheck: true
        enabled: true
        gpgkey: "{{ kea_dhcp_repo_key }}"
        state: present
      become: true

    - name: redhat | Adding Kea DHCP Repo (source)
      ansible.builtin.yum_repository:
        name: isc-kea-1-7-source
        description: isc-kea-1-7-source
        baseurl: "{{ kea_dhcp_repos }}/kea-1-7/rpm/el/{{ hostvars[inventory_hostname].ansible_distribution_major_version }}/SRPMS"
        gpgcheck: true
        enabled: true
        gpgkey: "{{ kea_dhcp_repo_key }}"
        state: present
      become: true

- name: redhat | Installing Kea DHCP Packages
  ansible.builtin.package:
    name: "{{ kea_dhcp_packages }}"
    state: present
  become: true
  register: result
  until: result is successful
