---
- name: redhat | Adding EPEL Repo
  package:
    name: epel-release
    state: present
  become: true
  register: result
  until: result is successful
  when: ansible_distribution != "Fedora"

- name: redhat | Installing Pre-Reqs
  package:
    name: "{{ kea_dhcp_pre_reqs }}"
    state: present
  become: true
  register: result
  until: result is successful

- name: redhat | Adding Kea DHCP Repo Key
  rpm_key:
    key: "{{ kea_dhcp_repo_key }}"
    state: present
  become: true

- name: "redhat | Kea DHCP {{ kea_dhcp_version }}"
  block:
    - name: redhat | Adding Kea DHCP Repo
      yum_repository:
        name: "isc-kea-{{ kea_dhcp_version|replace('.','-') }}"
        description: "{{ isc-kea-{{ kea_dhcp_version|replace('.','-') }}"
        baseurl: "{{ kea_dhcp_repos }}/kea-{{ kea_dhcp_version|replace('.','-') }}/rpm/el/{{ hostvars[inventory_hostname].ansible_distribution_major_version }}/$basearch"
        gpgcheck: true
        enabled: true
        gpgkey: "{{ kea_dhcp_repo_key }}"
        state: present
      become: true

    - name: redhat | Adding Kea DHCP Repo (noarch)
      yum_repository:
        name: "isc-kea-{{ kea_dhcp_version|replace('.','-') }}-noarch"
        description: "isc-kea-{{ kea_dhcp_version|replace('.','-') }}-noarch"
        baseurl: "{{ kea_dhcp_repos }}/kea-{{ kea_dhcp_version|replace('.','-') }}/rpm/el/{{ hostvars[inventory_hostname].ansible_distribution_major_version }}/noarch"
        gpgcheck: true
        enabled: true
        gpgkey: "{{ kea_dhcp_repo_key }}"
        state: present
      become: true

    - name: redhat | Adding Kea DHCP Repo (source)
      yum_repository:
        name: isc-kea-{{ kea_dhcp_version|replace('.','-') }}-source
        description: isc-kea-{{ kea_dhcp_version|replace('.','-') }}-source
        baseurl: "{{ kea_dhcp_repos }}/kea-{{ kea_dhcp_version|replace('.','-') }}/rpm/el/{{ hostvars[inventory_hostname].ansible_distribution_major_version }}/SRPMS"
        gpgcheck: true
        enabled: true
        gpgkey: "{{ kea_dhcp_repo_key }}"
        state: present
      become: true

- name: redhat | Installing Kea DHCP Packages
  package:
    name: "{{ kea_dhcp_packages }}"
    state: present
  become: true
  register: result
  until: result is successful
